data/2020 Interactions NYC K-8 Attendance_Metric.csv
data/2016-2021 K8 Borough Demographic_Snapshot.csv
data/2016-2024 k8_borough_attendance.csv
data/STH_Students In Temp Housing_ K-8 2018-2024 Attendance.csv
data/ELA Test_Results 2016-2023 3-8grades.csv
data/Math_Test_Results nycK-8 2016-2023.csv